// カラー定義
$color-main:#FF5192;
$color-main-thin:#FFEAF2;
$white:#fff;
$black:#000;
$color-background:#f6f6f4;
$color-footer:#3e3e3e;
$color-border:#ccc;
$color-disabled:#ccc;
$color-desc:#ccc;
$color-link:#0366D6;
$color-event:#FF5192;
$color-stage:#0366D6;
$color-radio:#FF9933;
$color-magazine:#008080;
$color-program:#FF3300;


// メディアクエリ定義
$sp-width:1142px;
$pc-width:1143px;
$sub-width:280px;
$sp-max-width:560px;