@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

body {
  position: relative;
  background-color: #f6f6f4;
  font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
  margin: 0 0;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

a {
  text-decoration: none;
  color: #0366D6;
}

a:hover {
  text-decoration: none;
  opacity: 0.5;
  transition-duration: 0.3s;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.shadow-l1 {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.shadow-l2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.shadow-l3 {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.shadow-l4 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.breadcrumbs ol {
  display: flex;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.breadcrumbs ol li {
  list-style: none;
}

.breadcrumbs ol li:after {
  content: "\F105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1em;
  color: #808080;
  padding: 0 15px;
}

.breadcrumbs ol li.active:after {
  content: "";
}

.container {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}

.heading {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  border-left: 5px solid #FF5192;
  padding: 0.5em;
}

.loadingBox {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.body__text {
  font-size: 0.9em;
  line-height: 1.8em;
}

.body__subtext {
  font-size: 0.8em;
  line-height: 1.6em;
}

#header-nav {
  background-color: #FF5192;
}

.footer {
  background-color: #3e3e3e;
  margin-top: auto;
  height: 168px;
  color: #fff;
  padding-top: 20px;
  font-size: 0.8rem;
}

.footer__content {
  display: flex;
}

.footer__footer-desc {
  width: 50%;
  padding: 0 20px;
}

.footer__footer-link {
  width: 50%;
}

.footer a {
  color: #fff;
}

.link-icon--twitter {
  opacity: 0.5;
  font-size: 1em;
}

.link-icon--outside:after {
  opacity: 0.5;
  content: "\F35D";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1em;
  margin-left: 20px;
}

.subpartsTicket {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #ccc;
}

border .subpartsTicket__title {
  font-size: 1em;
}

.subpartsTicket__date {
  margin: 0.5em 0;
  font-size: 1em;
}

.subpartsTicket__link {
  font-size: 1em;
}

.contentLinks {
  display: flex;
  margin: 40px 20px;
  flex-wrap: wrap;
}

.contentLinks__Item {
  margin: 10px 0px;
  line-height: 2em;
}

.contentLinks__Item:hover {
  opacity: 0.5;
  transition-duration: 0.3s;
}

.contentLinks__Item--icon {
  font-size: 2em;
}

.contentLinks__ItemText {
  color: #0366D6;
  position: relative;
  padding-left: 2em;
}

.contentLinks__ItemText--event:before {
  position: absolute;
  content: "\F002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
  left: -0.3em;
}

.contentLinks__ItemText--calendar:before {
  position: absolute;
  content: "\F073";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
  left: -0.3em;
}

.contentLinks__ItemText--ticket:before {
  position: absolute;
  content: "\F3FF";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
  left: -0.3em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: "Open Sans", Arial, sans-serif;
  color: #000000;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type=checkbox] + label:last-child {
  margin-bottom: 0;
}

input[type=checkbox] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #FF5192;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  transition: all 0.12s, border-color 0.08s;
}

input[type=checkbox]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}

.rnd-container {
  position: relative;
}

.rnd-container:after {
  position: absolute;
  content: "\F002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  opacity: 0.5;
  top: 0;
  right: 0;
  line-height: 1.5em;
  font-size: 1.5em;
}

.rnd-button {
  display: none;
}

.rnd-table-container {
  position: absolute;
  max-height: 400px;
  margin-top: -1px;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 5px -5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.rnd-table-container ul {
  padding: 0;
  margin: 5px 0 10px;
}

.rnd-table-container li {
  padding: 0.5em;
  list-style: none;
}

.rnd-table-container li.current {
  background-color: #eee;
}

@media screen and (max-width: 1142px) {
  .breadcrumbs {
    width: 100%;
  }

  .wrapper {
    margin: 15px;
  }

  .mainparts {
    margin-top: 20px;
  }

  .subparts {
    margin-top: 20px;
  }

  .contentLinks__Item {
    width: 50%;
  }

  .contentLinks {
    margin: 40px 5px 40px 20px;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1143px) {
  .content {
    width: 1142px;
    display: flex;
    margin: 20px auto 20px;
  }

  .allparts {
    width: 100%;
  }

  .mainparts {
    width: 862px;
  }

  .subparts {
    margin-left: 20px;
    width: 280px;
  }

  .contentLinks__Item {
    width: 33.3%;
  }

  .breadcrumbs {
    width: 1142px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer__content {
    width: 1142px;
    margin: 0 auto;
  }
}

